html, body {
    margin: 0 auto;
    padding: 0;
}

.testStyle {
    width: 100%;
    height: 100px;
    position: relative;
    top: 200px;
    background-color: #000000;
}

.testClass {
    height: 2000px;
}

.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
}